In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_csv('../data/data.csv')

In [3]:
df2 = df.copy()

In [4]:
df2['R_Reach_cms'].fillna(df2['R_Height_cms'], inplace=True)
df2['B_Reach_cms'].fillna(df2['B_Height_cms'], inplace=True)
df2.fillna(df2.median(numeric_only=True), inplace=True)

In [5]:
df2['R_Reach_cms']

0       180.34
1       180.34
2       170.18
3       185.42
4       160.02
         ...
6802    177.80
6803    182.88
6804    177.80
6805    187.96
6806    182.88
Name: R_Reach_cms, Length: 6807, dtype: float64

In [6]:
df2['R_Stance'].fillna('Orthodox', inplace=True)
df2['B_Stance'].fillna('Orthodox', inplace=True)

In [7]:
df2.drop(df2.index[df2['Winner'] == 'Draw'], inplace = True)
df2.drop(columns=['Referee','location', 'date', 'R_fighter', 'B_fighter'], inplace=True)

In [8]:
def convert_bool_to_int(X):
    if X:
        return 1
    else:
        return 0

In [9]:
df2['title_bout'] = df2['title_bout'].apply(convert_bool_to_int)

In [10]:
df2['title_bout'].value_counts()

0    6298
1     388
Name: title_bout, dtype: int64

In [11]:
df2 = pd.concat([df2, pd.get_dummies(df2[['weight_class', 'B_Stance', 'R_Stance']])], axis=1)
df2.drop(columns=['weight_class', 'B_Stance', 'R_Stance'], inplace=True)

In [12]:
df2.to_csv('../data/preprocessed_data.csv', index=False)

In [13]:
df2

,Winner,title_bout,no_of_rounds,B_avg_KD,B_avg_opp_KD,B_avg_SIG_STR_pct,B_avg_opp_SIG_STR_pct,B_avg_TD_pct,B_avg_opp_TD_pct,B_avg_SUB_ATT,...,B_Stance_Open Stance,B_Stance_Orthodox,B_Stance_Sideways,B_Stance_Southpaw,B_Stance_Switch,R_Stance_Open Stance,R_Stance_Orthodox,R_Stance_Sideways,R_Stance_Southpaw,R_Stance_Switch
0,Blue,0,3,0.000000,0.000000,0.210000,0.470000,0.000000,0.000000,0.000000,...,0,1,0,0,0,0,0,0,0,1
1,Red,0,3,0.015625,0.000000,0.453960,0.435000,0.242344,0.200000,0.125000,...,0,1,0,0,0,0,1,0,0,0
2,Red,0,3,0.250000,0.125000,0.425000,0.557500,0.092500,0.070000,0.000000,...,0,0,0,1,0,0,1,0,0,0
3,Red,0,3,0.000275,0.074951,0.410306,0.477786,0.203741,0.077517,0.925568,...,0,1,0,0,0,0,1,0,0,0
4,Blue,0,5,0.000000,0.000000,0.433281,0.482031,0.333125,0.287891,0.000000,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6802,Red,0,1,0.015625,0.000000,0.453960,0.435000,0.242344,0.200000,0.125000,...,0,1,0,0,0,0,0,0,1,0
6803,Red,0,1,0.015625,0.000000,0.453960,0.435000,0.242344,0.200000,0.125000,...,0,1,0,0,0,0,1,0,0,0
6804,Red,0,1,0.015625,0.000000,0.453960,0.435000,0.242344,0.200000,0.125000,...,0,1,0,0,0,0,1,0,0,0
6805,Red,0,1,0.015625,0.000000,0.453960,0.435000,0.242344,0.200000,0.125000,...,0,1,0,0,0,0,1,0,0,0
6806,Red,0,1,0.015625,0.000000,0.453960,0.435000,0.242344,0.200000,0.125000,...,0,1,0,0,0,0,1,0,0,0